; This is a template config file for distribution
;
; 1) Copy this file to `objectstorage.conf` 
; 2) Edit the file to add your own credentials
; 3) Use the cli tool (`bin/console`) without specifying a --config flag, it will be auto-detected


[general]
; Select one of the available drivers: s3, file, gridfs, pdo
adapter = file

[s3]
key = my_s3_key
secret = my_s3_secret
bucketname = my_bucket_name

[file]
path = "/my/objectstorage/path"

[gridfs]
dbname = osd
server = "mongodb://localhost:27017"

[pdo]
; Initialize your database with this sql:
; CREATE TABLE objectstorage (objectkey varchar(255), objectdata text, PRIMARY KEY (objectkey));
dsn = "mysql:dbname=mydbname;host=127.0.0.1"
username = db_user
password = db_pass
tablename = objectstorage
